.btnLarge,
.btnMedium,
.btnSmall {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--secondary-border);
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.btnLarge:hover,
.btnMedium:hover,
.btnSmall:hover {
    background-color: var(--secondary-color);
    transform: scale(1.01);
}

.btnLarge:focus,
.btnMedium:focus,
.btnSmall:focus {
    background-color: var(--secondary-color-focus);
}

.btnLarge:active,
.btnMedium:active,
.btnSmall:active {
    background-color: var(--secondary-color-active);
    transform: scale(1.02);
}

.btnLarge {
    width: 35px;
    height: 35px;
    font-size: 1.3rem;
    background-color: var(--secondary-color-opacity);
}

.btnMedium {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    background-color: var(--secondary-color);
}

.btnSmall {
    width: 30px;
    height: 30px;
    font-size: 1.1rem;
    background-color: var(--secondary-color);
}


.circleIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 0;
}

.btnLarge .circleIcon {
    font-size: 1.5rem;
    color: var(--text-color);
    opacity: 0.5;
}

.btnLarge .circleIcon svg {
    color: var(--text-color);
    font-size: 1.4rem;
}


.btnMedium .circleIcon {
    font-size: 1rem;
    opacity: 1;
    color: var(--text-color);
}

.btnMedium .circleIcon svg {
    color: var(--text-color);
}


.btnSmall .circleIcon {
    font-size: 1rem;
    opacity: 1;
    color: var(--text-color);
}

.btnSmall .circleIcon svg {
    color: var(--text-color);
}