.shuffleBtn{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--secondary-border);
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    font-size: 1.5rem;
}

.shuffleBtn:hover {
    background-color: var(--secondary-color-hover);
    transform: scale(1.01);
}

.shuffleBtn:focus {
    background-color: var(--secondary-color-focus);
}

.shuffleBtn:active {
    background-color: var(--secondary-color-active);
    transform: scale(1.02);
}

.shuffleIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 2rem;
    color: var(--text-color-opacity);
}

.shuffleText{
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    width: fit-content;

}