.timerBarHeader {
    width: 100%;
    height: 5px;
    background-color: black;
}

.timerBarHeader {
    position: absolute;
    bottom: -5px;
    left: 0;
}

.progressBar {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}