.sizeLarge,
.sizeMedium,
.sizeSmall {
    color: var(--text-color-opacity);
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.sizeLarge{
    font-size: 1.7rem;
}

.sizeMedium{
    font-size: 1.5rem;
}

.sizeSmall{
    font-size: 1rem;
}

.toggelArrowAnimation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggelArrow:hover {
    color: var(--text-color-active);
}