.landingBackgroundImg {
    width: 100%;
    z-index: 0;
    opacity: 1;
    margin: -1px 0;
    overflow-y: hidden;
    height: 300px;
    background-color: #000000;
}

.landingBackgroundImgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.landingBackgroundImgImgLazy{
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
}