/* Mobile 320px - 767px -- 812px */
.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--text-color);
    gap: 5px;
}

.selectLabel {
    font-weight: 600;
    position: relative;
    left: 13px;
}

.selectSelect {
    min-width: 80vw;
    width: 85vw;
    max-width: 400px;
}

/* Tablet 768px - 1279px -- 800px*/
@media screen and (min-width: 768px) {
    .selectContainer {
        gap: 5px;
    }

    .selectLabel {
        left: 13px;
    }

    .selectSelect {
        width: 400px;
    }
}