/* Mobile 320px - 767px -- 812px */
.btnLarge,
.btnMedium,
.btnMediumWide,
.btnSmall {
    color: var(--text-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    border: var(--secondary-border);
    border-radius: var(--secondary-border-radius);
    transform: width 0.2s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLarge {
    width: var(--btn-width-medium);
    height: var(--btn-height-medium);
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.btnMedium {
    width: var(--btn-width-small);
    height: var(--btn-height-small);
    font-size: 1rem;
    letter-spacing: 2px;
}

.btnMediumWide {
    width: fit-content;
    max-width: var(--btn-width-large);
    height: 35px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    padding: 0 10px;
}

.btnSmall {
    width: 90px;
    height: 20px;
    font-size: 1rem;
    letter-spacing: 1px;
}

.btnLarge:hover,
.btnMedium:hover,
.btnMediumWide:hover,
.btnSmall:hover {
    background-color: var(--secondary-color-hover);
    transform: scale(1.01);
}

.btnLarge:focus,
.btnMedium:focus,
.btnMediumWide:focus,
.btnSmall:focus {
    background-color: var(--secondary-color-focus);
}

.btnLarge:active,
.btnMedium:active,
.btnMediumWide:active,
.btnSmall:active {
    background-color: var(--secondary-color-active);
    transform: scale(1.02);
}
