.cardLoading {
    border-radius: var(--secondary-border-radius);
    background: linear-gradient(110deg, #cbcaca 8%, #d3d1d1 18%, #cbcaca 33%);
    background-size: 200% 10%;
    animation: 1s shine linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.decoration{
    width: 90%;
    height: 85%;
    opacity: 0.1;
}