/* Mobile 320px - 767px -- 812px */
.logoSmall {
    width: 70px;
    min-width: 50px;
    max-width: 150px;
    opacity: 0.5;
}

.logoLarge {
    width: 260px;
    min-width: 200px;
    max-width: 300px;
}

/* Tablet 768px - 1279px -- 800px*/
@media screen and (min-width: 768px) {
    .logoSmall {
        width: 150px;
        opacity: 1;
    }

    .logoLarge {
        width: 320px;
    }
}