.rateStars {
    display: flex;
    align-items: center;
    gap: 3px;
}

.rateStarSmall,
.rateStarLarge {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-opacity);
}

.rateStarSmall {
    font-size: 0.5rem;
}

.rateStarLarge {
    font-size: 1.4rem;
}