.filterForm{
    padding: 0 20vw; 
    height: 100%;
    display: flex;
    position: relative;
    z-index: 2;
    display: none;
    opacity: 0;
}

.filterFormTitle{
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 1em 0;
    color: var(--text-color-opacity);
}

.filterFormContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.filterFormChildrens{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3em;
}

.filterFormbtn{
    display: flex;
    justify-content: center;
}