/* Mobile 320px - 767px -- 812px */
.sizeLarge,
.sizeXSmall,
.sizeSmall,
.sizeWrap {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.sizeWrap {
    justify-content: center;
}

.sizeXSmall {
    max-width: 98%;
    height: 98%;

}

.sizeSmall {
    max-width: 100%;
    gap: 10px;
}

.sizeLarge {
    max-width: 80vw;
    gap: 5px;
}

.sizeWrap {
    max-width: 90vw;
    gap: 19px;
}

/* Laptop HD 1280px - 1439px -- 720px*/
@media screen and (min-width: 1280px) {

    .sizeLarge,
    .sizeXSmall,
    .sizeSmall,
    .sizeWrap {
        justify-content: space-between;
    }

    .sizeWrap {
        justify-content: space-between;
    }

    .sizeXSmall {
        max-width: 98%;
        height: 98%;

    }

    .sizeSmall {
        max-width: 100%;
        gap: 10px;
    }

    .sizeLarge {
        max-width: 30vw;
        gap: 5px;
    }

    .sizeWrap {
        max-width: 50vw;
        gap: 19px;
    }
}