.cardViewDataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 80%;
    min-width: 200px;
    max-width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    overflow-wrap:break-word;
}

.cardViewInfo{
    max-height: 30vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.cardViewTitle {
    margin: 0.5em 0 0.7em 0;
}

.cardViewGenres{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.cardDate{
    color: var(--text-color);
    margin-top: -20px;
    margin-bottom: 5px;
}