.cardViewModal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -200px;
    left: -200px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: var(--input-background-color);
    border-radius: var(--secondary-border-radius);
    z-index: 100;
    padding: 0.5em;
    border: var(--primary-border);
}

.cardViewDataContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
    width: 15vw;
    min-width: 200px;

}

.cardViewImgContainer {
    width: fit-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: var(--secondary-border-radius);
    overflow: hidden;
}

.cardViewTitle{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1em;
}