.gmaeContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 110%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.gmaeHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: var(--mobile-width);
    margin-top: 1em;
}

.gameChildrenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}