.cardSideAll{
    width: 100%;
}

.cardSideLeft{
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.cardSideRight{
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
