.progressBarRelative,
.progressBarAbsolute {
    width: 100%;
    height: 5px;
    background-color: black;
}

.progressBarAbsolute {
    position: absolute;
    bottom: -5px;
    left: 0;
}

.progressBarRelative {
    position: relative;
    border-radius: 50px;
}

.progressBar {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}