/* Mobile 320px - 767px -- 812px */
.electedPackContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
}

.electedPack{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.electedPackBtns{
    display: flex;
    align-items: center;
    gap: 2em;
    width: auto;
}

.playAgain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85px;
}

.playAgainDescription{
    color: var(--text-color);
    font-size: 1.2rem;
}

/* Laptop HD 1280px - 1439px -- 720px*/
@media screen and (min-width: 1280px) {
    .electedPackContainer{
        gap: 40px;
        margin: 30px 0;
    }
}