.score{
    color: var(--text-color);
    width: fit-content;
    min-width: 25px;
    height: fit-content;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}