.cardPlaceholder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cardMovieIcon {
    color: var(--text-color-opacity);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.cardPlaceholderText{
    position: absolute;
    bottom: -25px;
    color: var(--text-color-opacity);
    width: 100%;
    font-size: 0.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}