.cardPlaceholder{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.cardPlaceholderText{
    position: absolute;
    top: -20px;
    color: var(--text-color-opacity);
    width: 80%;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    overflow-wrap: break-word;
}