.draggableMovie{
    border: 7px solid var(--tertiary-color);
    overflow: hidden;
    border-radius: var(--primary-border-radius);
    height: var(--card-height);
    width: var(--card-width);
}

.cardTitle {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    font-size: 1rem;
    text-align: center;
    padding: 40% 10px 10px 10px;
    box-sizing: border-box;
    z-index: 10;
}