.rivalsProfiles{
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.rivalProfile{
    margin-left: -15px;
}

.moreRivals{
    color: var(--text-color);
    position: relative;
    left: -20px;
}