.mainBackgroundImg {
    width: 100%;
    z-index: 0;
}
.mainBackgroundImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top;
}

.mainContainer {
    width: 100%;
    height: 65vh;
    z-index: 1;
    background-color: var(--background-color);
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainLogoContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 2rem 0;
}

.mainBtnContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
