.cardRate {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    background-color: var(--primary-color);
    font-weight: 500;
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
    text-align: center;
    width: calc(var(--small-card-width) - 13px);
}