.btnLayoutLoading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playBtn {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 10px;
    background-color: var(--primary-color);
    border-radius: var(--primary-border-radius);
    cursor: pointer;
    border: var(--primary-border);
    text-align: center;
}

.playBtn:hover {
    background-color: var(--primary-color-hover);
    transform: scale(1.01);
}

.playBtn:focus {
    background-color: var(--primary-color-focus);
}

.playBtn:active {
    background-color: var(--primary-color-active);
    transform: scale(1.02);
}