:root {
    --background-color: #132C43;
    --background-color-hover: #16334e;
    --background-color-focus: #1e4467;
    --background-color-active: #1e4467;
    --background-color-disabled: #132C4330;
    --background-color-opacity: #132C4350;
    --background-card-color: #13202C;

    --primary-color: #5548F4;
    --primary-color-hover: #6356f0;
    --primary-color-focus: #7469ec;
    --primary-color-active: #7469ec;
    --primary-color-disabled: #5548F430;
    --primary-color-opacity: #5548F450;

    --secondary-color: #101C28;
    --secondary-color-hover: #13212f;
    --secondary-color-focus: #213850;
    --secondary-color-active: #213850;
    --secondary-color-disabled: #101C2830;
    --secondary-color-opacity: #101C2850;

    --tertiary-color: #344251;
    --tertiary-color-hover: #404f60;
    --tertiary-color-focus: #4a5a6c;
    --tertiary-color-active: #4a5a6c;
    --tertiary-color-disabled: #34425130;
    --tertiary-color-opacity: #34425150;



    --text-color: #FFFFFF;
    --text-color-hover: #FFFFFF90;
    --text-color-active: #FFFFFF80;
    --text-color-opacity: #8996A1;

    --input-background-color: #FFFFFF;
    --input-background-color-hover: #E6E6E6;
    --input-text-color: #181818;
    --input_light_text_color: #222222;

    --error-color: #FF5A5F;
    --success-color: #00A699;

    --primary-border-radius: 20px;
    --secondary-border-radius: 10px;

    --primary-border: 2px solid var(--tertiary-color);
    --secondary-border: 1px solid var(--tertiary-color);

    --btn-width-small: 120px;
    --btn-width-medium: 190px;
    --btn-width-large: 200px;
    --btn-height-small: 40px;
    --btn-height-medium: 50px;
    --btn-height-large: 60px;

    --card-width: 140px;
    --card-height: 200px;
    /* --card-width: 120px;
    --card-height: 170px; */

    --small-card-width: 50px;
    --small-card-height: 80px;

    --mobile-width: 80vw;

    --input-min-height: 50px;
    --input-max-height: 180px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
    background-color: var(--background-color);
    position: relative;
}