.placeContainer{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeBorder{
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border-radius: var(--primary-border-radius);
}

.placeTopThree{
    text-align: center;
}

.placeNormal{
    display: none;
}