.cardTitle {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--text-color);
    font-size: 1.1rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: var(--secondary-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    min-width: 120px;
    width: 35vw;
    max-width: var(--card-width);
    min-height: 170px;
    height: 25vh;
    max-height: var(--card-height);
}

.cardAnimation{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--text-color-opacity);
    width: 100%;
}

.cardShadowTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color-opacity);
    font-size: 1.1rem;
    font-weight: 600;
}