.sizeXSmall,
.sizeSmall,
.sizeMedium,
.sizeLarge {
    position: relative;
    perspective: 1000px;
}

.sizeXSmall {
    width: var(--x-small-card-width);
    height: var(--x-small-card-height);
}

.sizeSmall {
    width: var(--small-card-width);
    height: var(--small-card-height);
}

.sizeMedium {
    width: var(--medium-card-width);
    height: var(--medium-card-height);
}

.sizeLarge {
    min-width: 120px;
    width: 42vw;
    max-width: var(--card-width);
    min-height: 170px;
    height: 30vh;
    max-height: var(--card-height);
}

.cardInnerContainer {
    border: 1px solid var(--tertiary-color);
    border-radius: var(--secondary-border-radius);
    background-color: var(--secondary-color);
    box-shadow: #00000045 0px 3px 8px;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cardFront,
.cardBack {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardBack {
    transform: rotateY(180deg);
}

.cardFront {
    width: 100%;
    height: 100%;
    z-index: 2;
}