.cardInnerContainer {
    border: 1px solid var(--tertiary-color);
    border-radius: var(--secondary-border-radius);
    background-color: var(--secondary-color);
    box-shadow: #00000045 0px 3px 8px;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cardFront,
.cardBack {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardBack {
    transform: rotateY(180deg);
}

.cardFront {
    width: 100%;
    height: 100%;
    z-index: 2;
}