.profileAvatar,
.profileAvatarFocus {
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.1s linear, width 0.1s linear;
}

.profileAvatar {
    /* width: 35px;
    height: 35px; */
    width: 70px;
    height: 70px;
}

.profileAvatarFocus{
    width: 70px;
    height: 70px;
}

.profileAvatar img {
    width: 100%;
    height: 35px;
    object-fit: cover;
}

.profileAvatarFocus img {
    width: 100%;
    object-fit: cover;
}