.sizeLarge,
.sizeSmall {
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.1s linear, width 0.1s linear;
}

.sizeSmall {
    width: 35px;
    height: 35px;
}

.sizeLarge {
    width: 70px;
    height: 70px;
}

.sizeSmall img {
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 3px;
}

.sizeLarge img {
    width: 100%;
    object-fit: cover;
}