.radioDifficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--secondary-border);
  border-radius: 50px;
  color: var(--text-color);
  background-color: var(--secondary-color-focus);
  height: 50px;
  width: fit-content;
  max-width: var(--btn-width-large);
  overflow: hidden;
}

.radioDifficultyLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.radioDifficulty .radioDifficultyInput {
  display: none;
}





