.PlayerProfile{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    box-sizing: border-box;
}

.PlayerProfileDetails{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 4px;
    /* align-items: start; */
    /* padding: 0 0 1px 0; */

}

.PlayerProfileScore{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
}

.PlayerProfileName{
    color: var(--text-color-opacity);
    font-size: 0.9rem;
    line-height: 1;
}

.PlayerProfileDetailsSkeleton{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 4px;
}

.PlayerProfileScoreSkeleton{
    width: 30px;
    height: 12px;
    background-color: var(--text-color-opacity-real);
    border-radius: 10px;
}

.PlayerProfileNameSkeleton{
    width: 70px;
    height: 12px;
    background-color: var(--text-color-opacity-real);
    border-radius: 10px;
}