.cardImgLarge, 
.cardImgSmall{
    object-fit: cover;
    border-radius: var(--secondary-border-radius);
}

.cardImgLarge{
    width: var(--small-card-width);
    height: var( --small-card-height);
}

.cardImgSmall{
    width: var(--small-card-width);
    height: var(--small-card-height);
}

.cardImgShadow{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}