.cardImg{
    width: var(--card-width);
    height: var( --card-height);
    object-fit: cover;
    z-index: 100;
    border-radius: var(--secondary-border-radius);
}

.cardImgShadow{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}