.cardImgLarge, 
.cardImgSmall{
    object-fit: cover;
    border-radius: var(--secondary-border-radius);
}

.cardImgLarge{
    min-width: 120px;
    width: 35vw;
    max-width: var(--card-width);
    min-height: 170px;
    height: 200px;
    max-height: var(--card-height);
}

.cardImgSmall{
    width: var(--small-card-width);
    height: var(--small-card-height);
}

.cardImgShadow{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}