.previewDescription{
    position: relative;
    width: 75vw;
    margin-top: -2em;
    margin-bottom: -1em;
    text-align: center;
}

.previewMovies{
    position: relative;
    width: 100%;
    min-height: var(--card-height);
    height: calc((var(--card-height) * 2) + 30px );
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}