.cardContainer {
    position: relative;
    perspective: 1000px;
    /* overflow: hidden; */
}

.cardInnerContainer{
    border: 7px solid var(--tertiary-color);
    border-radius: var(--primary-border-radius);
    background-color: var(--secondary-color);
    box-shadow: none;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.cardContainerFocus{
    border: 7px solid var(--primary-color);
    box-shadow: 0px 0px 20px 3px var(--primary-color);
}

.cardPlaceholder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.cardFront, .cardBack{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardBack{
    transform: rotateY(180deg);
}

.cardFront{
    width: 100%;
    height: 100%;
}