/* Mobile 320px - 767px -- 812px */
.cardContainerSmall,
.cardContainerLarge {
    position: relative;
    perspective: 1000px;
}

.cardContainerSmall {
    width: var(--small-card-width);
    height: var(--small-card-height);
}

.cardContainerLarge {
    min-width: 120px;
    width: 35vw;
    max-width: var(--card-width);
    min-height: 170px;
    height: 25vh;
    max-height: var(--card-height);
}

.cardInnerContainer {
    border: 1px solid var(--tertiary-color);
    border-radius: var(--secondary-border-radius);
    background-color: var(--secondary-color);
    box-shadow: #00000045 0px 3px 8px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.cardFront,
.cardBack {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardBack {
    transform: rotateY(180deg);
}

.cardFront {
    width: 100%;
    height: 100%;
}

.cardContainerFocus {
    border: 2px solid var(--primary-color);
    box-shadow: 0px 0px 20px 3px var(--primary-color);
}

/* Tablet 768px - 1279px -- 800px*/
@media screen and (min-width: 768px) {
    .cardContainerFocus {
        border: 7px solid var(--primary-color);
        box-shadow: 0px 0px 20px 3px var(--primary-color);
    }
}

